* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.b-c {
    background-color: rgb(255, 69, 97);
    height: 150px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

img {
    width: 80px;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.float {
    float: ;
}
.cr {
    clear: right;
}

.cl {
    clear:left
}

.up {
    padding-top: 1%;
}

.up-left-div {
    padding-left: 5%;
  
}

.up-right-div {
  padding-right: 5%;
}


.search-box {
  max-width: 1200%;
}

input  {
  width: 70%;
  height: 40px;
  border-radius: 8px;

}

.down {
    width: 70%;
  /* background-color: aquamarine; */
  margin-top: 3%; 
  margin-left: 13%;
  /* margin-right: 5%; */
  /* height: 100px; */

}

.logo {
    margin-right: 7%;
    margin-bottom: 2%;
    width: 50px;
}

.search-div {
    width: 50%;
    float: left;
}

.s-button {
    /* float: right; */
    padding: 9px 10px;
    /* margin-top: 0px; */
    /* margin-right: 139px; */
    background: rgb(241, 2, 81);
    color: #fff;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    width: 7%;
}
.d-list {
    margin-top: 1%;
}

#shopping-cart {
    margin-top: -1%;
    margin-right: -2%;
    width: 73px;
}

